// BANNER
#main-banner {
	margin: -100px 0 2rem;
	padding: 100px 0 2rem;
	background: linear-gradient(180deg, #5A7A4F 0%, #5A7A4F 50%, #34483F 100%);
	border-radius: 0 0 60px 60px;
	color: white;
	width: 100%;
	position: relative;

	@media (min-width:$break-screen) {
		margin-top:-150px;
		padding-top: calc(150px + 2rem);
	}

	&:before {
		content: "";
		position: absolute;
		bottom: 2rem;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../img/banner-graphism.svg);
		background-repeat: repeat-x;
		background-position: left bottom;
		background-size: 200% auto;
		z-index: 0;
		opacity: .2;
		
		@media (min-width:$break-screen) {
			padding: 3rem 0;
			background-position: left bottom;
			background-size: 100% auto;
		}
	}


	.slide-item {
		aspect-ratio: 300/350;
		position: relative;
		display: block;

		@media (min-width:$sm-screen) {
			aspect-ratio: auto;
			display: flex;
			align-items: stretch;
			aspect-ratio: none;
		}

		.slide-item-text {
			align-items: flex-start;
			aspect-ratio: 300/350;
			background:rgba($theme-primary, 0);
			border-radius:15px;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			left: 0;
			padding: 1.5rem;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;

			@media (min-width:$sm-screen) {
				width: auto;
				position: static;
				aspect-ratio: auto;
				top: auto;
				left: auto;
				flex-basis: 50%;
				padding: 2rem;
			}

			span {
				font-size: 1rem;
				padding: .25em 1em;
				background: $theme-quaternary;
				color: white;
				display: inline-block;
				border-radius: 1rem;
				font-weight: bold;
			}

			h2 {
				font-size: 1.75rem;
				margin: .5rem 0;
				line-height: 1;
				font-weight: 900;

				@media (min-width:$sm-screen) {
					font-size: 2rem;
				}

				@media (min-width:$break-screen) {
					font-size: 3rem;
				}
			}

			p {
				font-weight: bold;
				margin: 0;
				line-height: 1;
				font-size: 1.25rem;
				font-weight: 300;
				letter-spacing: 1px;
			}
		}

		.slide-item-image {
			position: absolute;
			z-index: 0;
			aspect-ratio: 300/350;
			top: 0;
			left: 0;
			width:100%;
			border-radius: 40px;
			background: black;

			@media (min-width:$sm-screen) {
				aspect-ratio: 600/400;
				position: relative;
				flex-basis: 50%;
			}

			figure {
				border-radius: 40px;
				overflow: hidden;

				img {
					object-fit: cover;
					aspect-ratio: 300/350;
					opacity: .4;

					@media (min-width:$sm-screen) {
						aspect-ratio: 600/400;
						opacity: 1;

					}
				}
			}
		}

	}

	/*
	.swiper-slide {
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size:cover;
	}

	.intro-text {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-content: stretch;
		align-items: flex-end;
		min-height:550px;
		padding:20px 10px;

		@media (min-width:$sm-screen){
			padding:30px 20px;
			justify-content: flex-end;
			max-width:80%;
			min-height:600px;
		}

		.intro-lead-in {
			font-size: 1.75rem;
			line-height: 1;
			color:white;
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
			width:100%;
			font-weight:900;
			text-shadow: 0 0 3px rgba(black, .2);
			margin-bottom: 0;

			@media (min-width:$sm-screen){
				font-size: 3rem;
			}
		}

		.intro-heading {
			font-size: 1rem;
			line-height: 1.5;
			font-weight: 300;
			order: 0;
			flex: 0 1 auto;
			align-self: auto;
			margin-bottom:20px;
			width:100%;
			color:white;
			text-shadow: 0 0 3px rgba(black, .2);

			a {
				color:white;

				&:hover,
				&:focus {
					opacity:.7;
				}
			}

			@media (min-width:$sm-screen){
				font-size: 1.5rem;
			}
		}

		.btn {
			display:inline-block;
			margin-left:auto;
			margin-right:auto;
			background:$theme-secondary;
			color:white;
			font-weight:normal;
			border:none;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;

			&:hover,
			&:focus {
				background:$theme-primary;
				color:white;
			}
		}

		.btn-container {
			order: 0;
			flex: 0 1 auto;
			width:100%;
			max-width:100%;
			margin-bottom: 1rem;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width:14px;
		height:70px;
		margin-top:-35px;
		background:url('../img/arrow.png');
		display:none;
	}

	.swiper-button-prev {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	.swiper-pagination {
		right:0;
		margin:0;
		padding-right:10px;
		bottom:-10px;
		text-align:right;
		height:50px;

		@media (min-width:$sm-screen){
			//bottom:auto;
			//top:10px;
		}
	}

	.swiper-pagination-bullet {
		width:16px;
		height:16px;
		border-radius:10px;
		opacity:1;
		border:1px solid rgba(white, .7);
		background:rgba(white, 0);
		transition:0.4s ease All;

		&.swiper-pagination-bullet-active {
			background:rgba(white, 1);
			border:1px solid rgba(white, 1);
		}
	}
	*/
}