// BANNER
#main-banner {
	padding: 2rem 0;
	position: relative;
	color: #333;

	@media (min-width: $break-screen) {
		padding: 0 0 4rem;
	}

	.banner-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
		align-items: center;

		@media (min-width: $break-screen) {
			grid-template-columns: 1fr 1fr;
			gap: 4rem;
		}
	}

	.banner-content {
		h1 {
			font-size: 2.25rem;
			font-weight: 800;
			color: $theme-primary;
			margin-bottom: 1.5rem;
			line-height: 1;

			@media (min-width: $break-screen) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 1rem;
			color: $dark-gray;
			margin-bottom: 2rem;
			line-height: 1.6;
			font-weight: 400;
		}
	}

	.banner-search-form {
		position: relative;
		display: flex;
		align-items: center;
		background: transparent;
		padding: 0;
		max-width: 100%;

		@media (min-width: $break-screen) {
			max-width: 90%;
		}

		.search-field {
			border: 1px solid $light-gray;
			border-radius: 8px;
			background: $light-gray;
			padding: 0.75rem 1rem;
			width: 100%;
			font-size: 1rem;
			outline: none;
			color: #333;
			box-shadow: none;
			transition: .3s ease-in-out all;

			&:focus {
				border-color: $theme-primary;
			}
			
			&::placeholder {
				color: $theme-secondary;
			}
		}

		.search-submit {
			background: transparent;
			border: none;
			padding: 0 1rem;
			font-size: 1.25rem;
			color: $theme-secondary;
			cursor: pointer;
			transition: color 0.2s ease;
			box-shadow: none;
			margin:0 .25rem 0 0;

			&:before {
				display: none;
			}

			&:hover {
				color: $theme-primary;
			}
		}
	}

	.banner-image {
		text-align: center;

		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
}