// BUTTONS
.btn {
	background: $theme-primary;
	border: 1px solid $theme-primary;
	border-radius: 8px;
	color: white;
	display: inline-block;
	font-size: .875rem;
	font-weight: normal;
	padding: .5em 1.125em;
	position: relative;
	text-decoration: none !important;
	text-transform: none;
	white-space: nowrap;
	z-index: 100;
	transition: .3s all ease-in-out;
	letter-spacing: 0;
	line-height: 1.25;
	outline: none !important;
	text-align: center;

	&:focus,
	&:hover {
		background: rgba($theme-secondary, .4);
		border-color: rgba($theme-secondary, .4);
		color: $theme-primary;
	}

	&.btn-outline {
		background: transparent;
		border-color: $theme-primary;
		color: $theme-primary;

		&:focus,
		&:hover {
			background: $theme-primary;
			border-color: $theme-primary;
			color: white;
		}
	}

	&.btn-outline-white {
		background: transparent;
		border-color: white !important;
		color: white;

		&:focus,
		&:hover {
			background: white;
			border-color: white;
			color: $theme-primary;
		}
	}

	&.btn-white {
		background: white;
		border-color: white !important;
		color: $theme-primary;

		&:focus,
		&:hover {
			background: $theme-primary;
			border-color: $theme-primary;
			color: white;
		}
	}

	&.btn-outline-gray {
		background: transparent;
		border-color: $medium-gray;
		color: $medium-gray;

		&:focus,
		&:hover {
			background: transparent;
			border-color: $dark-gray;
			color: $dark-gray;
		}
	}

	&.btn-sm {
		font-size: .825rem;
		padding: .25em .75em;
	}

	&.btn-xs {
		font-size: .75rem;
		padding: .25em .75em;
		margin-top: 5px;
	}

	&.btn-lg {
		font-size: 1rem;
		padding: .75em 1em;
	}

	&.btn-xl {
		font-size: 1.125rem;
		padding: .75em 1em;
	}
}