$theme-primary: #1B263B;
$theme-secondary: #8E9AAF;
$theme-tertiary: #0097d1;
$theme-quaternary: #0d4188;
$text-color: #1B263B;
$super-light-gray: #F8F8F8;
$light-gray: #EAEAEA;
$medium-gray: #999;
$dark-gray: #333;
$font: "Inter", sans-serif;
$xs-screen: 576px;
$sm-screen: 768px;
$break-screen: 910px;
$xl-screen: 1200px;
$xxl-screen: 1400px;